{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- TITULO PAGINA -->
    <h2 class="titulo-seccion text-center mb-5">ARTISTAS</h2>

    <div class="container">
        <div class="row">
            {% for artist in artists %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="{{ artist.image.url }}" class="card-img-top" alt="{{ artist.name }}">
                    <div class="card-body">
                        <h5 class="card-title typing-animation">{{ artist.name }}</h5>
                        <p class="card-text">{{ artist.bio }}</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ forloop.counter }}">Ver Detalle</button>
                    </div>
                </div>
            </div>

            <!-- Modal para Artistas -->
            <div class="modal fade" id="modal{{ forloop.counter }}" tabindex="-1" aria-labelledby="modal{{ forloop.counter }}Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal{{ forloop.counter }}Label">{{ artist.name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ artist.image.url }}" class="img-fluid mb-3" alt="{{ artist.name }}">
                            <p>{{ artist.bio }}</p>
                            <h6>Productos</h6>
                            <ul>
                                {% for product in artist.products.all %}
                                <li>{{ product.name }} - {{ product.price }}</li>
                                {% endfor %}
                            </ul>
                            <h6>Técnicas Utilizadas</h6>
                            <ul>
                                {% for product in artist.products.all %}
                                <li>{{ product.technique.name }}</li>
                                {% endfor %}
                            </ul>
                            <h6>Contacto</h6>
                            <p><a href="{% url 'contacto' %}?nombre={{ artist.name }}" class="btn btn-success">Contactar Artista</a></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Enlace para Volver -->
    <div class="container text-center my-4">
        <a href="{% url 'index' %}" class="link-volver">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    </div>

{% endblock %}
