{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Div para mostrar resultados de búsqueda -->
    <div id="resultados-busqueda" class="container mt-5"></div>

    <!-- SECCIÓN DE PRODUCTOS DESTACADOS -->
<section class="container section-container">
    <div class="row">
        <div class="col text-center">
            <h2 class="titulo-seccion">PRODUCTOS DESTACADOS</h2>
        </div>
    </div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide mx-auto d-block" data-bs-ride="carousel" data-bs-interval="3000" style="max-height: 600px;">
        <div class="carousel-indicators">
            {% for product in featured_products %}
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner mx-auto">
            {% for product in featured_products %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="3000">
                <img src="{{ product.image.url }}" class="d-block w-100" alt="{{ product.name }}">
                <div class="carousel-caption d-none d-md-block text-white">
                    <h3 class="h3 text-white">{{ product.name }}</h3>
                    <a class="vin-detalle" href="{% url 'producto_detalle' product.id %}"><p class="detalle text-white">Ver detalles</p></a>        
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>


    <!-- SECCIÓN DE ARTISTAS DESTACADOS -->
    {% if featured_artist %}
    <section class="container section-container mt-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="titulo-seccion">ARTISTAS DESTACADOS</h2>
                <div class="card mb-3 mx-auto" style="max-width: 800px;">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img src="{{ featured_artist.image.url }}" class="img-fluid rounded-start" alt="{{ featured_artist.name }}">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body d-flex flex-column">
                                <div>
                                    <h5 class="card-title">{{ featured_artist.name }}</h5>
                                    <p class="card-text">{{ featured_artist.bio }}</p>
                                </div>
                                <a href="{% url 'artistas' %}" class="btn btn-success mt-auto">Ver todos los artistas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <!-- SECCIÓN DE TÉCNICAS DESTACADAS -->
    {% if featured_technique %}
    <section class="container section-container mt-5">
        <div class="row">
            <div class="col text-center">
                <h2 class="titulo-seccion">TÉCNICAS DESTACADAS</h2>
                <div class="card mb-3 mx-auto" style="max-width: 800px;">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <img src="{{ featured_technique.image.url }}" class="img-fluid rounded-start" alt="{{ featured_technique.name }}">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body d-flex flex-column">
                                <div>
                                    <h5 class="card-title">{{ featured_technique.name }}</h5>
                                    <p class="card-text">{{ featured_technique.description }}</p>
                                </div>
                                <a href="{% url 'tecnicas' %}" class="btn btn-success mt-auto">Ver todas las técnicas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

   
{% endblock %}




