{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2 class="titulo-seccion text-center m-5">PRODUCTOS DESTACADOS</h2>

    <!-- TARJETAS DETALLE PRODUCTO -->
    <div class="container-fluid p-5 m-5">
        <div class="row">
            {% for product in products %}
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <p class="card-text"><strong>Nombre de la obra:</strong> <span class="card-title typing-animation">{{ product.name }}</span><br>
                            <strong>Descripción:</strong> {{ product.description|truncatewords:30 }} <br>
                            <strong>Precio:</strong> ${{ product.price }} <br>
                            <a href="{% url 'producto_detalle' product.id %}" class="btn btn-primary">Ver Detalles</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Enlace para Volver -->
    <div class="container text-center my-4">
        <a href="{% url 'index' %}" class="link-volver">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    </div>
{% endblock %}
