<!-- producto_detalle.html -->
{% extends 'base.html' %}
{% block content %}
<h2 class="titulo-seccion text-center m-5">{{ product.name }}</h2>
<div class="container-fluid p-5 m-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-12 col-md-6">
            <div class="product-description">
                <p><strong>Descripción:</strong> {{ product.description }}</p>
                <p><strong>Precio:</strong> ${{ product.price }}</p>
                <p><strong>Artista:</strong> {{ product.artist.name }}</p>
                <p><strong>Técnica:</strong> {{ product.technique.name }}</p>
                <div class="d-flex justify-content-between">
                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-success btn-agregar-carrito">Agregar al Carrito</a>
                    <a href="{% url 'view_cart' %}" class="btn btn-primary">Ver Carrito</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Enlace para Volver e Inicio -->
    <div class="text-center mt-4">
        <a href="javascript:history.back()" class="link-volver btn btn-outline-secondary">Volver</a>
        <a href="{% url 'index' %}" class="link-volver btn btn-outline-secondary">Inicio</a>
    </div>
</div>
{% endblock %}

